@import '../../../assets/sass/variables';

.full-width {
    width: 100% !important;
}

label, ::ng-deep .mat-form-field-label {
    color: rgb(255, 255, 255) !important;
}

::ng-deep .mat-form-field-ripple {
    background-color: #dcdcdc !important;
}


#submit {
    width: 100%;
    margin: 1em 0;
    background-color: $secondary-color;
}

h1 {
    margin: 1em auto;
    font-size: 2em;
}

.slide-wrap {
    margin-top: 1.5em; 
}