@import '../../../assets/sass/variables';

h1 {
    margin-bottom: 1em;
    font-size: 3em;    
}

a {
    margin: 1em 0;
    display: block;

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}